# Praproses Data Komoditas Pasar Sederhana Tahun 2017

Pada Notebook ini dijelaskan mengenai praproses dari beberapa data harga komoditas pasar Sederhana tahun 2017. Langkah-langkah yang dilakukan antara lain:
1. Memuat data .csv dari bulan Januari hingga Desember ke dalam 12 Variabel
2. Mentransposkan data
3. Menghilangkan kolom "lokasi" pada bulan pertama
4. Menghilangkan kolom "nama_komoditas" pada bulan kedua hingga bulan terakhir
5. Menyatukan semua variabel (concat)

In [62]:
# Mengimport library yang dibutuhkan
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Mengimport data ke dalam variabel
df = pd.read_csv("~/Downloads/pasar-sederhana-01-2017.csv")
# Data Mentah dari satu file .csv adalah sebagai berikut
df

,lokasi,nama_komoditas,2017-01-01,2017-01-02,2017-01-03,2017-01-04,2017-01-05,2017-01-06,2017-01-07,2017-01-08,...,2017-01-22,2017-01-23,2017-01-24,2017-01-25,2017-01-26,2017-01-27,2017-01-28,2017-01-29,2017-01-30,2017-01-31
0,Pasar Sederhana,Beras Medium,0,10000,10000,10000,10000,10000,0,5000,...,0,10000,10000,10000,10000,10000,0,0,10500,10000
1,Pasar Sederhana,Cabe Merah,0,50000,50000,50000,50000,50000,0,25000,...,0,45000,40000,40000,40000,40000,0,0,50000,50000
2,Pasar Sederhana,Bawang Merah,0,35000,35000,35000,35000,35000,0,0,...,0,32500,30000,28000,30000,30000,0,0,30000,30000
3,Pasar Sederhana,Daging Ayam Ras,0,35000,34500,34000,34000,34000,0,17000,...,0,34000,33000,30000,30000,30000,0,0,30000,30000
4,Pasar Sederhana,Telur Ayam Ras,0,23500,22250,21000,21000,21000,0,10500,...,0,19500,19500,19500,19500,19500,0,0,19000,19000
5,Pasar Sederhana,Daging Sapi,0,120000,120000,120000,120000,120000,0,60000,...,0,120000,120000,120000,120000,120000,0,0,120000,120000
6,Pasar Sederhana,Minyak Goreng,0,14500,14500,14500,14500,14500,0,7250,...,0,14250,14000,14000,14000,14000,0,0,14000,14000
7,Pasar Sederhana,Gula Pasir,0,15000,15000,15000,15000,15000,0,7500,...,0,14000,13000,13000,13000,13000,0,0,13000,13000
8,Pasar Sederhana,Kentang,0,15000,15000,15000,15000,15000,0,7500,...,0,15500,16000,15000,15000,15000,0,0,15000,15000
9,Pasar Sederhana,Kedelai,0,12000,12000,12000,12000,12000,0,6000,...,0,12000,11000,11000,11000,11000,0,0,10000,10000
10,Pasar Sederhana,Tepung Terigu,0,8000,8000,8000,8000,8000,0,4000,...,0,7500,7000,7000,7000,7000,0,0,7000,7000
11,Pasar Sederhana,Bawang Putih,0,40000,40000,40000,40000,40000,0,20000,...,0,38500,37000,38000,38000,38000,0,0,40000,40000
12,Pasar Sederhana,Cabe Keriting,0,55000,55000,55000,55000,55000,0,27500,...,0,52500,50000,60000,60000,50000,0,0,55000,55000
13,Pasar Sederhana,Cabe Rawit,0,100000,105000,110000,115000,120000,0,60000,...,0,125000,140000,140000,140000,140000,0,0,140000,140000
14,Pasar Sederhana,Kacang Tanah,0,30000,30000,30000,30000,30000,0,15000,...,0,27500,25000,25000,25000,25000,0,0,25000,25000
15,Pasar Sederhana,Ubi Kayu,0,4000,4000,4000,4000,4000,0,2000,...,0,4000,5000,5000,5000,5000,0,0,5000,5000
16,Pasar Sederhana,Ubi Jalar,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,Pasar Sederhana,Jagung,0,7000,7000,7000,7000,7000,0,3500,...,0,7500,8000,8000,8000,8000,0,0,8000,8000
18,Pasar Sederhana,Ikan Olahan,0,70000,70000,70000,70000,70000,0,35000,...,0,65000,60000,60000,60000,60000,0,0,60000,60000
19,Pasar Sederhana,Beras Premium,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,Pasar Sederhana,Minyak Goreng Curah,0,12000,12000,12000,12000,12000,0,0,...,0,12000,12000,12000,12000,12000,0,0,12500,12500
21,Pasar Sederhana,Daging Ayam Kampung,0,75000,75000,75000,75000,75000,0,37500,...,0,75000,75000,75000,75000,75000,0,0,75000,75000
22,Pasar Sederhana,Telur Ayam Kampung,0,44000,44000,44000,44000,44000,0,22000,...,0,25500,7000,7000,7000,7000,0,0,7000,7000
23,Pasar Sederhana,Susu Kental Manis Merk Bendera,0,10000,10000,10000,10000,10000,0,5000,...,0,10500,11000,11000,11000,11000,0,0,11000,11000
24,Pasar Sederhana,Susu Kental Manis Merk Indomilk,0,9500,9500,9500,9500,9500,0,4750,...,0,9750,10000,10000,14000,14000,0,0,14000,14000
25,Pasar Sederhana,Garam Beryodium Bata,0,1500,1500,1500,1500,1500,0,0,...,0,1250,1000,1000,1000,1000,0,0,1000,1000
26,Pasar Sederhana,Garam Beryodium Halus,0,6000,6000,6000,6000,6000,0,3000,...,0,6000,6000,6000,6000,6000,0,0,6000,6000
27,Pasar Sederhana,Tepung Terigu Cakra Kembar,0,8500,8500,8500,8500,8500,0,4250,...,0,8250,8000,8000,8000,8000,0,0,8000,8000
28,Pasar Sederhana,Tepung Terigu Kunci,0,7500,7500,7500,7500,7500,0,3750,...,0,16750,26000,26000,26000,26000,0,0,26000,26000
29,Pasar Sederhana,Mie Instan,0,2200,2200,2200,2200,2200,0,0,...,0,2350,2500,2500,2500,2500,0,0,2500,2500
30,Pasar Sederhana,Cabe Rawit Hijau,0,80000,90000,100000,100000,100000,0,50000,...,0,77500,80000,80000,40000,90000,0,0,85000,85000
31,Pasar Sederhana,Kacang Hijau,0,24000,24000,24000,24000,24000,0,12000,...,0,22500,21000,21000,21000,21000,0,0,21000,21000
32,Pasar Sederhana,Susu Bubuk Dancow,0,41200,41200,41200,41200,41200,0,20600,...,0,39750,38300,38300,38300,38300,0,0,38300,38300
33,Pasar Sederhana,Susu Bubuk Indomilk,0,36500,36500,36500,36500,36500,0,18250,...,0,35725,34950,34950,34950,34950,0,0,34950,34950
34,Pasar Sederhana,Ikan Kembung,0,30000,30000,30000,30000,30000,0,15000,...,0,32500,35000,35000,35000,35000,0,0,35000,35000

### Agar data dapat diolah, maka membutuhkan beberapa proses.

* Langkah dibawah ini akan dilakukan hingga bulan terakhir (Desember)

In [60]:
# Mengimport data ke dalam variabel
dfSederhanaJan = pd.read_csv("~/Downloads/pasar-sederhana-01-2017.csv")
# Mentransposkan data
dfSederhanaJan = dfSederhanaJan.T
# Menghilangkan kolom "lokasi"
dfSederhanaJan = dfSederhanaJan.drop("lokasi")
# Tampilkan hasilnya
dfSederhanaJan

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
nama_komoditas,Beras Medium,Cabe Merah,Bawang Merah,Daging Ayam Ras,Telur Ayam Ras,Daging Sapi,Minyak Goreng,Gula Pasir,Kentang,Kedelai,...,Garam Beryodium Bata,Garam Beryodium Halus,Tepung Terigu Cakra Kembar,Tepung Terigu Kunci,Mie Instan,Cabe Rawit Hijau,Kacang Hijau,Susu Bubuk Dancow,Susu Bubuk Indomilk,Ikan Kembung
2017-01-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-01-02,10000,50000,35000,35000,23500,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,80000,24000,41200,36500,30000
2017-01-03,10000,50000,35000,34500,22250,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,90000,24000,41200,36500,30000
2017-01-04,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,100000,24000,41200,36500,30000
2017-01-05,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,100000,24000,41200,36500,30000
2017-01-06,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,100000,24000,41200,36500,30000
2017-01-07,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-01-08,5000,25000,0,17000,10500,60000,7250,7500,7500,6000,...,0,3000,4250,3750,0,50000,12000,20600,18250,15000
2017-01-09,10000,50000,35000,34000,21000,120000,14500,15000,15000,31000,...,1500,6000,8500,7500,2200,100000,24000,41200,36500,30000
2017-01-10,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,100000,24000,41200,36500,30000
2017-01-11,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,100000,24000,41200,36500,30000
2017-01-12,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,100000,24000,41200,36500,30000
2017-01-13,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,75000,24000,41200,36500,30000
2017-01-14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-01-15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-01-16,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,75000,24000,41200,36500,30000
2017-01-17,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,75000,24000,41200,36500,30000
2017-01-18,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,75000,24000,41200,36500,30000
2017-01-19,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,75000,24000,41200,36500,30000
2017-01-20,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,75000,24000,41200,36500,30000
2017-01-21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-01-22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-01-23,10000,45000,32500,34000,19500,120000,14250,14000,15500,12000,...,1250,6000,8250,16750,2350,77500,22500,39750,35725,32500
2017-01-24,10000,40000,30000,33000,19500,120000,14000,13000,16000,11000,...,1000,6000,8000,26000,2500,80000,21000,38300,34950,35000
2017-01-25,10000,40000,28000,30000,19500,120000,14000,13000,15000,11000,...,1000,6000,8000,26000,2500,80000,21000,38300,34950,35000
2017-01-26,10000,40000,30000,30000,19500,120000,14000,13000,15000,11000,...,1000,6000,8000,26000,2500,40000,21000,38300,34950,35000
2017-01-27,10000,40000,30000,30000,19500,120000,14000,13000,15000,11000,...,1000,6000,8000,26000,2500,90000,21000,38300,34950,35000
2017-01-28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-01-29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-01-30,10500,50000,30000,30000,19000,120000,14000,13000,15000,10000,...,1000,6000,8000,26000,2500,85000,21000,38300,34950,35000
2017-01-31,10000,50000,30000,30000,19000,120000,14000,13000,15000,10000,...,1000,6000,8000,26000,2500,85000,21000,38300,34950,35000

In [56]:
# Langkah seperti sebelumnya
dfSederhanaFeb = pd.read_csv("~/Downloads/pasar-sederhana-02-2017.csv")
dfSederhanaFeb = dfSederhanaFeb.T
dfSederhanaFeb = dfSederhanaFeb.drop(["lokasi","nama_komoditas"])
dfSederhanaFeb

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
2017-02-01,10000,50000,30000,30000,19000,120000,14000,13000,15000,10000,...,1000,6000,8000,26000,2500,85000,21000,38300,34950,35000
2017-02-02,10000,50000,30000,30000,19000,120000,14000,13000,15000,10000,...,1000,6000,8000,26000,2500,85000,21000,38300,34950,35000
2017-02-03,10000,50000,35000,30000,19500,120000,14000,15000,15000,10000,...,1000,6000,8000,7500,2500,85000,21000,38300,34950,30000
2017-02-04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-02-05,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-02-06,11000,60000,32000,30000,19000,120000,14000,14000,16000,10000,...,1000,6000,8000,7500,2200,100000,21000,38300,34950,34000
2017-02-07,32000,60000,32000,30000,19000,120000,14000,14000,7000,12000,...,1000,6000,8000,26000,2200,100000,21000,38300,34950,34000
2017-02-08,11000,60000,32000,33000,19000,120000,14500,14000,16000,12000,...,1500,6000,8000,26000,2500,100000,21000,41200,36500,34000
2017-02-09,11000,60000,32000,33000,19000,120000,14500,14000,16000,12000,...,1500,6000,8000,26000,2500,100000,21000,41200,36500,34000
2017-02-10,11000,60000,32000,33000,19000,120000,14500,14000,16000,28000,...,1500,6000,8000,26000,2500,100000,21000,41200,36500,34000
2017-02-11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-02-12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-02-13,11000,60000,32000,30000,19000,120000,14500,14000,16000,28000,...,1500,6000,8000,26000,2500,100000,21000,41200,36500,34000
2017-02-14,11000,60000,32000,30000,19000,120000,14500,14000,16000,28000,...,1500,6000,8250,16750,2500,100000,21000,41200,36500,34000
2017-02-15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-02-16,11000,60000,32000,30000,19000,120000,14500,14000,16000,28000,...,1500,6000,8500,7500,2500,100000,21000,41200,36500,34000
2017-02-17,11000,60000,32000,30000,19000,120000,14500,14000,16000,12000,...,1500,6000,8500,7500,2200,100000,24000,41200,36500,34000
2017-02-18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-02-19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-02-20,11000,55000,45000,30000,19000,120000,14500,14000,16000,12000,...,1500,6000,8500,7500,2200,100000,24000,41200,36500,34000
2017-02-21,11000,60000,45000,30000,19000,120000,14500,14000,16000,12000,...,1500,6000,8500,7500,2200,100000,24000,41200,36500,34000
2017-02-22,11000,60000,45000,30000,19000,120000,14500,14000,16000,12000,...,1500,6000,8500,7500,2200,100000,24000,41200,36500,34000
2017-02-23,11000,60000,45000,30000,19000,120000,14500,14000,16000,12000,...,1500,6000,8500,7500,2200,100000,24000,41200,36500,34000
2017-02-24,11000,60000,45000,30000,19000,120000,14500,14000,16000,12000,...,1500,6000,8500,7500,2200,90000,24000,41200,36500,34000
2017-02-25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-02-26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-02-27,11000,60000,45000,30000,19000,120000,14500,14000,16000,12000,...,1500,6000,8500,7500,2200,90000,24000,41200,36500,34000
2017-02-28,11000,60000,45000,30000,19000,120000,14500,14000,16000,12000,...,1500,6000,8500,7500,2200,80000,24000,41200,36500,34000

In [30]:
dfSederhanaMar = pd.read_csv("~/Downloads/pasar-sederhana-03-2017.csv")
dfSederhanaMar = dfSederhanaMar.T
dfSederhanaMar = dfSederhanaMar.drop(["lokasi","nama_komoditas"])
dfSederhanaMar

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
2017-03-01,11000,60000,45000,30000,19000,120000,14500,14000,16000,12000,...,1500,6000,8500,7500,2200,80000,24000,41200,36500,34000
2017-03-02,11000,60000,45000,30000,19000,120000,14500,14000,16000,12000,...,1500,6000,8500,7500,2200,80000,24000,41200,36500,34000
2017-03-03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-03-04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-03-05,11000,60000,45000,30000,19000,120000,14500,14000,16000,12000,...,1500,6000,8500,7500,2200,80000,24000,41200,36500,34000
2017-03-06,11000,60000,45000,30000,19000,120000,14500,14000,16000,12000,...,1500,6000,8500,7500,2200,80000,24000,41200,36500,34000
2017-03-07,11000,60000,45000,30000,19000,120000,14500,14000,16000,12000,...,1500,6000,8500,7500,2200,80000,24000,41200,36500,34000
2017-03-08,11000,60000,45000,30000,19000,120000,14500,14000,16000,12000,...,1500,6000,8500,7500,2200,80000,24000,41200,36500,34000
2017-03-09,11000,60000,45000,30000,19000,120000,14500,14000,16000,12000,...,1500,6000,8500,7500,2200,80000,24000,41200,36500,34000
2017-03-10,11000,60000,45000,30000,19000,120000,14500,14000,16000,12000,...,1500,6000,8500,7500,2200,80000,24000,41200,36500,34000
2017-03-11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-03-12,11000,50000,45000,30000,19000,120000,14500,14000,0,12000,...,1500,6000,8500,7500,2200,70000,24000,41200,36500,34000
2017-03-13,11000,50000,45000,30000,19000,120000,14500,14000,16000,12000,...,1500,6000,8500,7500,2200,70000,24000,41200,36500,34000
2017-03-14,11000,50000,45000,30000,19000,120000,14500,14000,16000,12000,...,1500,6000,8500,7500,2200,70000,24000,41200,36500,34000
2017-03-15,11000,50000,45000,30000,19000,120000,14500,14000,16000,12000,...,1500,6000,8500,7500,2200,70000,24000,41200,36500,34000
2017-03-16,11000,50000,45000,31000,19000,120000,14500,14000,16000,12000,...,1500,6000,8500,7500,2200,70000,24000,41200,36500,34000
2017-03-17,11000,50000,45000,32000,19000,120000,14500,14000,16000,12000,...,1500,6000,8500,7500,2200,70000,24000,41200,36500,34000
2017-03-18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-03-19,10000,40000,40000,33000,19000,120000,14000,14000,16000,12000,...,1500,6000,8500,7000,2200,60000,22000,41200,36500,32000
2017-03-20,10000,40000,40000,33000,19000,120000,14000,14000,16000,12000,...,1500,6000,8500,7000,2200,60000,22000,41200,36500,32000
2017-03-21,10000,40000,40000,33000,19000,120000,14000,14000,16000,12000,...,1500,6000,8500,7000,2200,60000,22000,41200,36500,32000
2017-03-22,10000,40000,40000,33000,19000,120000,14000,14000,16000,12000,...,1500,6000,8500,7000,2200,60000,22000,41200,36500,32000
2017-03-23,10000,40000,40000,33000,19000,120000,14000,14000,16000,12000,...,1500,6000,8500,7000,2200,60000,22000,41200,36500,32000
2017-03-24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-03-25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-03-26,60000,0,36000,33000,19000,36500,0,32000,70000,13000,...,1500,6000,8500,7000,7500,0,22000,41200,14000,16000
2017-03-27,60000,0,31500,33000,19000,36500,0,32000,70000,13000,...,1500,6000,8500,7000,7500,0,22000,41200,14000,16000
2017-03-28,60000,0,36000,33000,19000,36500,0,32000,70000,13000,...,1500,6000,8500,7000,7500,0,22000,41200,14000,16000
2017-03-29,60000,0,36000,33000,19000,36500,0,32000,70000,13000,...,1500,6000,8500,7000,7500,0,22000,41200,14000,16000
2017-03-30,60000,0,36000,33000,19000,36500,0,32000,70000,13000,...,1500,6000,8500,7000,7500,0,22000,41200,14000,16000
2017-03-31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
dfSederhanaApr = pd.read_csv("~/Downloads/pasar-sederhana-04-2017.csv")
dfSederhanaApr = dfSederhanaApr.T
dfSederhanaApr = dfSederhanaApr.drop(["lokasi","nama_komoditas"])
dfSederhanaApr

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
2017-04-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-04-02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-04-03,10000,35000,30000,32000,18500,120000,14000,14000,16000,12000,...,1500,6000,8000,7000,2200,60000,22000,41200,36500,32000
2017-04-04,10000,35000,30000,32000,18500,120000,14000,14000,16000,12000,...,1500,6000,8000,7000,2200,60000,22000,41200,36500,32000
2017-04-05,10000,35000,30000,32000,18500,120000,14000,14000,16000,12000,...,1500,6000,8000,7000,2200,60000,22000,41200,36500,32000
2017-04-06,10000,35000,30000,32000,18500,120000,14000,14000,16000,12000,...,1500,6000,8000,7000,2200,60000,22000,41200,36500,32000
2017-04-07,10000,35000,30000,32000,18500,120000,14000,14000,16000,12000,...,1500,6000,8000,7000,2200,60000,22000,41200,36500,32000
2017-04-08,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-04-09,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-04-10,10000,60000,35000,32000,18500,120000,14000,14000,16000,12000,...,1500,6000,8000,7000,2200,50000,22000,41200,36500,32000
2017-04-11,10000,60000,35000,32000,18500,120000,14000,14000,16000,12000,...,1500,6000,8000,7000,2200,50000,22000,41200,36500,32000
2017-04-12,10000,60000,35000,32000,18500,120000,14000,14000,16000,12000,...,1500,6000,8000,7000,2200,50000,22000,41200,36500,32000
2017-04-13,10000,60000,35000,32000,18500,120000,14000,14000,16000,12000,...,1500,6000,8000,7000,2200,50000,0,41200,36500,32000
2017-04-14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-04-15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-04-16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-04-17,10000,60000,35000,32000,18500,120000,14000,14000,0,12000,...,1500,6000,8000,7000,2200,50000,22000,41200,36500,32000
2017-04-18,10000,60000,35000,32000,18500,120000,14000,14000,16000,12000,...,1500,0,8000,7000,2200,50000,22000,41200,36500,32000
2017-04-19,10000,60000,35000,32000,18500,120000,14000,14000,0,12000,...,1500,6000,8000,7000,2200,50000,22000,41200,36500,32000
2017-04-20,10000,60000,35000,32000,18500,120000,14000,14000,0,12000,...,1500,6000,8000,7000,2200,50000,22000,41200,36500,32000
2017-04-21,10000,60000,35000,32000,18500,120000,14000,14000,0,12000,...,1500,6000,8000,7000,2200,50000,22000,41200,36500,32000
2017-04-22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-04-23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-04-24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-04-25,10000,60000,35000,32000,18500,120000,14000,14000,0,12000,...,1500,6000,8000,7000,2200,50000,22000,41200,36500,32000
2017-04-26,10000,40000,30000,30000,18000,120000,14500,15000,12000,11000,...,1250,5000,7750,7000,2000,40000,21500,35000,32000,0
2017-04-27,10000,60000,35000,32000,18500,120000,14000,14000,16000,12000,...,0,6000,8000,7000,2200,50000,22000,41200,36500,32000
2017-04-28,10000,60000,35000,32000,18500,120000,14167,14000,16000,12000,...,1500,6000,8000,7000,2100,50000,22000,41200,35000,32000
2017-04-29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-04-30,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
dfSederhanaMei = pd.read_csv("~/Downloads/pasar-sederhana-05-2017.csv")
dfSederhanaMei = dfSederhanaMei.T
dfSederhanaMei = dfSederhanaMei.drop(["lokasi","nama_komoditas"])
dfSederhanaMei

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
2017-05-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-05-02,10000,60000,35000,32000,20000,120000,14000,14000,0,12000,...,1500,6000,8000,7000,2200,50000,22000,41200,36500,32000
2017-05-03,10000,60000,35000,32000,20000,120000,14000,14000,16000,12000,...,1500,0,8000,7000,2200,50000,22000,41200,36500,32000
2017-05-04,10000,60000,35000,32000,20000,120000,14000,14000,16000,12000,...,1500,0,8000,7000,2200,50000,22000,41200,36500,32000
2017-05-05,10000,60000,35000,32000,20000,120000,14000,14000,0,12000,...,1500,6000,8000,7000,2200,50000,22000,41200,36500,32000
2017-05-06,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-05-07,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-05-08,10000,45000,32000,32000,21000,120000,14000,14000,0,12000,...,1500,6000,8000,7000,2500,50000,24000,41200,36500,32000
2017-05-09,10000,45000,32000,32000,21000,120000,14000,14000,0,12000,...,1500,6000,8000,7000,2500,50000,24000,41200,36500,32000
2017-05-10,10000,45000,32000,32000,21000,120000,14000,14000,16000,12000,...,1500,0,8000,7000,2500,50000,24000,41200,36500,32000
2017-05-11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-05-12,10000,45000,32000,32000,21000,120000,14000,14000,0,12000,...,1500,6000,8000,7000,2500,50000,24000,41200,36500,32000
2017-05-13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-05-14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-05-15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-05-16,10000,45000,32000,34000,22000,120000,14000,14000,16000,12000,...,1500,0,8000,7000,2500,50000,24000,41200,36500,32000
2017-05-17,10000,45000,32000,34000,22000,120000,14000,14000,16000,12000,...,1500,0,8000,7000,2500,50000,24000,41200,36500,32000
2017-05-18,10000,45000,32000,34000,22000,120000,14000,14000,16000,12000,...,1500,0,8000,7000,2500,50000,24000,41200,36500,32000
2017-05-19,10000,45000,32000,34000,22000,120000,14000,14000,0,12000,...,1500,6000,8000,7000,2500,50000,24000,41200,36500,32000
2017-05-20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-05-21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-05-22,10000,45000,32000,35000,22000,120000,14000,14000,0,12000,...,1500,6000,8000,7000,2500,35000,24000,41200,36500,32000
2017-05-23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-05-24,10000,45000,32000,35000,22000,120000,14000,14000,0,12000,...,1500,6000,8000,7000,2500,35000,24000,41200,36500,32000
2017-05-25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-05-26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-05-27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-05-28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-05-29,10000,60000,30000,36000,22000,130000,14000,14000,0,13000,...,1500,6000,8000,7000,2500,40000,24000,41200,36500,32000
2017-05-30,10000,60000,30000,36000,22000,130000,14000,14000,0,13000,...,1500,6000,8000,7000,2500,40000,24000,41200,36500,32000
2017-05-31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
dfSederhanaJun = pd.read_csv("~/Downloads/pasar-sederhana-06-2017.csv")
dfSederhanaJun = dfSederhanaJun.T
dfSederhanaJun = dfSederhanaJun.drop(["lokasi","nama_komoditas"])
dfSederhanaJun

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
2017-06-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-06-02,10000,60000,30000,36000,22000,130000,14000,14000,0,13000,...,1500,6000,8000,7000,2500,40000,24000,41200,36500,32000
2017-06-03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-06-04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-06-05,10000,35000,30000,35000,35000,130000,14000,14000,0,13000,...,1500,6000,8000,7000,2500,35000,24000,41200,36500,32000
2017-06-06,10000,35000,30000,35000,21000,130000,14000,14000,0,13000,...,1500,6000,8000,7000,2500,35000,24000,41200,36500,32000
2017-06-07,10000,35000,30000,35000,21000,130000,14000,14000,0,13000,...,1500,6000,8000,7000,2500,35000,24000,41200,36500,32000
2017-06-08,10000,35000,30000,35000,21000,130000,14000,14000,0,13000,...,1500,6000,8000,7000,2500,35000,24000,41200,36500,32000
2017-06-09,10000,35000,30000,35000,21000,130000,14000,14000,16000,13000,...,1500,0,8000,7000,2500,35000,24000,41200,36500,32000
2017-06-10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-06-11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-06-12,10000,35000,30000,35000,21000,130000,14000,14000,0,13000,...,1500,6000,8000,7000,2500,35000,24000,41200,36500,32000
2017-06-13,10000,35000,30000,35000,21000,130000,14000,14000,16000,13000,...,1500,0,8000,7000,2500,35000,24000,41200,36500,32000
2017-06-14,10000,35000,30000,35000,21000,130000,14000,14000,0,13000,...,1500,6000,8000,7000,2500,35000,24000,41200,36500,32000
2017-06-15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-06-16,10000,35000,30000,35000,21000,130000,14000,14000,16000,13000,...,1500,0,8000,7000,2500,35000,24000,41200,36500,32000
2017-06-17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-06-18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-06-19,10000,40000,30000,37000,21000,130000,14000,14000,0,13000,...,1500,6000,8000,7000,2500,35000,24000,41200,36500,32000
2017-06-20,10000,40000,30000,37000,21000,130000,14000,14000,0,13000,...,1500,6000,8000,7000,2500,35000,24000,41200,36500,32000
2017-06-21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-06-22,10000,40000,30000,37000,21000,130000,14000,14000,0,13000,...,1500,6000,8000,7000,2500,35000,24000,41200,36500,32000
2017-06-23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-06-24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-06-25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-06-26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-06-27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-06-28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-06-29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-06-30,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
dfSederhanaJul = pd.read_csv("~/Downloads/pasar-sederhana-07-2017.csv")
dfSederhanaJul = dfSederhanaJul.T
dfSederhanaJul = dfSederhanaJul.drop(["lokasi","nama_komoditas"])
dfSederhanaJul

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
2017-07-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-07-02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-07-03,10000,60000,40000,36000,21000,125000,14000,14000,0,13000,...,1500,6000,8000,7000,2500,35000,24000,41200,36500,32000
2017-07-04,10000,60000,40000,36000,21000,125000,14000,14000,0,13000,...,1500,6000,8000,7000,2500,35000,24000,41200,36500,32000
2017-07-05,10000,60000,40000,36000,21000,125000,14000,14000,22000,13000,...,1500,0,8000,7000,2500,35000,24000,41200,36500,32000
2017-07-06,10000,60000,40000,36000,21000,125000,14000,14000,22000,13000,...,1500,0,8000,7000,2500,35000,24000,41200,36500,32000
2017-07-07,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-07-08,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-07-09,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-07-10,10000,30000,40000,32000,21000,120000,14000,14000,0,13000,...,1500,6000,8000,7000,2500,35000,24000,41200,36500,32000
2017-07-11,10000,30000,40000,32000,21000,120000,14000,14000,18000,13000,...,1500,0,8000,7000,2500,35000,24000,41200,36300,32000
2017-07-12,10000,30000,40000,32000,21000,120000,14000,14000,18000,13000,...,1500,6000,8000,7000,2500,35000,24000,41200,36300,32000
2017-07-13,10000,30000,40000,32000,21000,120000,14000,14000,18000,13000,...,1500,0,8000,7000,2500,35000,24000,41200,36500,32000
2017-07-14,10000,30000,40000,32000,21000,120000,14000,14000,0,13000,...,2500,10000,8000,7000,2500,35000,24000,41200,36500,32000
2017-07-15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-07-16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-07-17,10000,30000,35000,32000,23000,120000,14000,13500,0,12000,...,2500,18000,8000,7000,2500,35000,24000,41200,36500,32000
2017-07-18,10000,30000,35000,32000,23000,120000,14000,13500,20000,12000,...,2500,0,8000,7000,2500,35000,24000,41200,36500,32000
2017-07-19,10000,30000,35000,32000,23000,120000,14000,13500,0,12000,...,2500,18000,8000,7000,2500,35000,24000,41200,36500,32000
2017-07-20,10000,30000,35000,32000,23000,120000,14000,13500,0,12000,...,2500,18000,8000,7000,2500,35000,24000,41200,36500,32000
2017-07-21,10000,30000,35000,32000,23000,120000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,35000,24000,41200,36500,32000
2017-07-22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-07-23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-07-24,10000,30000,35000,32000,23000,120000,14000,13500,20000,12000,...,2500,0,8000,7000,2500,35000,24000,41200,36500,32000
2017-07-25,10000,30000,35000,32000,23000,120000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,35000,24000,41200,36500,32000
2017-07-26,10000,30000,35000,32000,23000,120000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,35000,24000,41200,36500,32000
2017-07-27,10000,30000,35000,32000,23000,120000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,35000,24000,41200,36500,32000
2017-07-28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-07-29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-07-30,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-07-31,10000,30000,32000,34000,24000,120000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,30000,24000,41200,36500,30000

In [37]:
dfSederhanaAgt = pd.read_csv("~/Downloads/pasar-sederhana-08-2017.csv")
dfSederhanaAgt = dfSederhanaAgt.T
dfSederhanaAgt = dfSederhanaAgt.drop(["lokasi","nama_komoditas"])
dfSederhanaAgt

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
2017-08-01,10000,30000,32000,34000,24000,120000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,30000,24000,41200,36500,30000
2017-08-02,10000,30000,32000,34000,24000,120000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,30000,24000,41200,36500,30000
2017-08-03,10000,30000,32000,34000,24000,120000,14000,13500,17000,12000,...,2500,0,8000,7000,2500,30000,24000,41200,36500,30000
2017-08-04,10000,30000,32000,34000,24000,120000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,30000,24000,41200,36500,30000
2017-08-05,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-08-06,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-08-07,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-08-08,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-08-09,10000,40000,32000,33000,23000,120000,14000,13500,16000,12000,...,2500,0,8000,7000,2500,30000,24000,41200,36500,30000
2017-08-10,10000,40000,32000,33000,23000,120000,14000,13500,16000,12000,...,2500,12000,8000,7000,2500,30000,24000,41200,36500,30000
2017-08-11,10000,40000,32000,33000,23000,120000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,30000,24000,41200,36500,30000
2017-08-12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-08-13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-08-14,10000,40000,30000,33000,23000,120000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,30000,24000,41200,36500,30000
2017-08-15,10000,40000,30000,33000,21500,120000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,30000,24000,41200,36500,30000
2017-08-16,10000,40000,30000,33000,21500,120000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,30000,24000,41200,36500,30000
2017-08-17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-08-18,10000,40000,30000,33000,21500,120000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,30000,24000,41200,36500,30000
2017-08-19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-08-20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-08-21,10000,30000,28000,33000,21000,120000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-08-22,10000,30000,28000,33000,21000,120000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-08-23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-08-24,10000,30000,28000,33000,21000,120000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-08-25,10000,30000,28000,33000,21000,120000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-08-26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-08-27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-08-28,10000,30000,28000,33000,21000,120000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-08-29,10000,30000,28000,33000,21000,120000,14000,13500,16000,12000,...,2500,0,8000,7000,2500,24000,24000,41200,36500,30000
2017-08-30,10000,30000,28000,33000,21000,120000,14000,13500,16000,12000,...,2500,0,8000,70000,2500,24000,24000,41200,36500,30000
2017-08-31,10000,55000,28000,35000,21000,120000,14000,13500,16000,12000,...,2500,0,8000,70000,2500,24000,24000,41200,36500,30000

In [38]:
dfSederhanaSep = pd.read_csv("~/Downloads/pasar-sederhana-09-2017.csv")
dfSederhanaSep = dfSederhanaSep.T
dfSederhanaSep = dfSederhanaSep.drop(["lokasi","nama_komoditas"])
dfSederhanaSep

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
2017-09-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-09-02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-09-03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-09-04,10000,55000,28000,35000,22000,115000,14000,13500,15000,12000,...,2500,0,8000,7000,2500,24000,24000,41200,36500,30000
2017-09-05,10000,55000,28000,35000,22000,115000,14000,13500,15000,12000,...,2500,0,8000,7000,2500,24000,24000,41200,36500,30000
2017-09-06,10000,55000,28000,35000,22000,115000,14000,13500,15000,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-09-07,10000,50000,28000,34000,22000,115000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-09-08,10000,50000,28000,34000,22000,120000,14000,13500,15000,12000,...,2500,12000,8000,70000,2500,24000,24000,41200,36500,30000
2017-09-09,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-09-10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-09-11,10000,45000,28000,32000,22000,115000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-09-12,10000,45000,28000,32000,22000,115000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-09-13,10000,45000,28000,32000,22000,115000,14000,13500,15000,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-09-14,10000,45000,28000,32000,22000,115000,14000,13500,15000,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-09-15,10000,45000,28000,32000,21000,115000,14000,13500,15000,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-09-16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-09-17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-09-18,10000,45000,28000,32000,21000,115000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-09-19,10000,45000,28000,32000,21000,115000,14000,13500,15000,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-09-20,10000,45000,28000,32000,21000,11500,14000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-09-21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-09-22,10000,45000,28000,32000,22000,115000,14000,13500,15000,12000,...,2500,0,8000,7000,2500,24000,24000,41200,36500,30000
2017-09-23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-09-24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-09-25,10000,45000,28000,32000,22000,115000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-09-26,10000,45000,28000,32000,22000,115000,14000,13500,15000,12000,...,2500,0,8000,7000,2500,24000,24000,41200,36500,30000
2017-09-27,10000,45000,28000,32000,22000,115000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-09-28,10000,45000,28000,32000,22000,115000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-09-29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-09-30,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
dfSederhanaOkt = pd.read_csv("~/Downloads/pasar-sederhana-10-2017.csv")
dfSederhanaOkt = dfSederhanaOkt.T
dfSederhanaOkt = dfSederhanaOkt.drop(["lokasi","nama_komoditas"])
dfSederhanaOkt

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
2017-10-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-10-02,10000,40000,28000,32000,21000,115000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,20000,24000,41200,36500,30000
2017-10-03,10000,40000,28000,32000,21000,115000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,20000,24000,41200,36500,41200
2017-10-04,10000,40000,28000,32000,21000,115000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,20000,24000,41200,36500,30000
2017-10-05,10000,40000,28000,32000,21000,115000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,30000,24000,41200,36500,30000
2017-10-06,10000,40000,28000,32000,21000,115000,14000,13500,14000,12000,...,2500,0,8000,7000,2500,30000,24000,41200,36500,30000
2017-10-07,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-10-08,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-10-09,10000,30000,24000,30000,20000,115000,14000,13500,0,12000,...,2500,12000,8000,70000,2500,24000,24000,41200,36500,30000
2017-10-10,10000,30000,24000,30000,20000,115000,14000,13500,0,12000,...,2500,12000,8000,70000,2500,24000,24000,41200,36500,30000
2017-10-11,10000,30000,24000,30000,20000,115000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-10-12,10000,30000,24000,30000,20000,115000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-10-13,10000,30000,24000,30000,20000,115000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-10-14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-10-15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-10-16,10000,30000,24000,30000,21000,115000,14000,13500,0,120000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-10-17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-10-18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-10-19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-10-20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-10-21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-10-22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-10-23,10000,35000,26000,30000,21000,115000,15000,13500,0,12000,...,2500,12000,8000,7000,2500,30000,24000,41200,36500,30000
2017-10-24,10000,35000,26000,30000,21000,115000,15000,13500,16000,12000,...,2500,0,8000,7000,2500,30000,24000,41200,36500,30000
2017-10-25,10000,35000,26000,30000,21000,115000,15000,13500,16000,12000,...,2500,0,8000,7000,2500,30000,24000,41200,36500,30000
2017-10-26,10000,35000,26000,30000,21000,115000,15000,13500,0,12000,...,2500,12000,8000,7000,2500,30000,24000,41200,36500,30000
2017-10-27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-10-28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-10-29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-10-30,10000,30000,24000,30000,21000,115000,15000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-10-31,10000,30000,24000,30000,21000,115000,15000,13500,16000,12000,...,2500,0,8000,7000,2500,24000,24000,41200,36500,30000

In [40]:
dfSederhanaNov = pd.read_csv("~/Downloads/pasar-sederhana-11-2017.csv")
dfSederhanaNov = dfSederhanaNov.T
dfSederhanaNov = dfSederhanaNov.drop(["lokasi","nama_komoditas"])
dfSederhanaNov

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
2017-11-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-11-02,10000,30000,24000,30000,21000,115000,15000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-11-03,10000,30000,24000,30000,21000,115000,15000,13500,16000,12000,...,2500,0,8000,7000,2500,24000,24000,41200,36500,30000
2017-11-04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-11-05,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-11-06,10000,40000,24000,31000,21000,115000,15000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-11-07,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-11-08,10000,40000,24000,31000,21000,115000,15000,13500,16000,12000,...,2500,0,8000,7000,2500,24000,24000,41200,36500,30000
2017-11-09,10000,40000,24000,31000,21000,115000,15000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-11-10,10000,40000,24000,31000,21000,115000,15000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-11-11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-11-12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-11-13,10000,50000,24000,31000,21000,115000,15000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-11-14,10000,50000,24000,31000,21000,115000,15000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-11-15,10000,50000,24000,31000,21000,115000,15000,13500,16000,12000,...,2500,0,8000,7000,2500,24000,24000,41200,36500,30000
2017-11-16,10000,50000,24000,31000,21000,115000,15000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-11-17,10000,50000,24000,31000,21000,115000,15000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-11-18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-11-19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-11-20,10000,55000,28000,33000,33000,120000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,25000,23000,41200,36500,34000
2017-11-21,10000,55000,28000,33000,33000,120000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,25000,23000,41200,36500,34000
2017-11-22,10000,55000,28000,33000,33000,120000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,25000,23000,41200,36500,34000
2017-11-23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-11-24,10000,55000,28000,33000,22000,120000,14000,13500,15000,12000,...,2500,0,8000,7000,2500,25000,23000,41200,36500,34000
2017-11-25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-11-26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-11-27,10000,55000,28000,33000,22000,120000,14000,13500,15000,12000,...,2500,12000,8000,7000,2500,25000,32000,41200,36500,34000
2017-11-28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-11-29,10000,55000,28000,33000,24000,120000,14000,13500,15000,12000,...,2500,12000,8000,7000,2500,25000,3000,41200,36500,40000
2017-11-30,10000,55000,28000,33000,0,120000,14000,13500,15000,12000,...,2500,12000,8000,7000,2500,25000,3000,41200,36500,40000

In [41]:
dfSederhanaDes = pd.read_csv("~/Downloads/pasar-sederhana-12-2017.csv")
dfSederhanaDes = dfSederhanaDes.T
dfSederhanaDes = dfSederhanaDes.drop(["lokasi","nama_komoditas"])
dfSederhanaDes

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
2017-12-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-12-02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-12-03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-12-04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-12-05,10500,55000,28000,33000,24000,120000,14000,12500,16000,12000,...,3500,12000,8000,7000,2300,24000,21000,43700,36100,40000
2017-12-06,10500,55000,28000,33000,24000,120000,14000,12500,0,12000,...,3500,12000,8000,7000,2300,24000,21000,43700,36100,40000
2017-12-07,10500,55000,28000,33000,24000,120000,14000,12500,16000,12000,...,3500,12000,8000,7000,2300,24000,21000,43700,36100,40000
2017-12-08,10000,55000,28000,33000,24000,120000,14000,12500,16000,12000,...,3500,12000,8000,7000,2300,24000,21000,43700,36100,40000
2017-12-09,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-12-10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-12-11,12836,44026,32008,32868,21217,112019,14365,13457,13937,12277,...,1537,6116,8350,7895,2204,38153,22381,39682,35407,31401
2017-12-12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-12-13,10500,60000,28000,35000,25000,0,14000,12500,15000,12000,...,3500,12000,8000,7000,2300,25000,21000,43700,36100,40000
2017-12-14,10500,60000,28000,35000,25000,0,14000,12500,15000,12000,...,3500,12000,8000,7000,2300,25000,21000,43700,36100,40000
2017-12-15,10500,60000,28000,35000,25000,0,14000,12500,15000,12000,...,3500,12000,8000,7000,2300,25000,21000,43700,36100,40000
2017-12-16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-12-17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-12-18,10500,60000,28000,36000,25000,0,14000,12500,15000,12000,...,3500,12000,8000,7000,2300,35000,21000,43700,36100,40000
2017-12-19,10500,60000,28000,36000,25000,120000,14000,12500,15000,12000,...,3500,0,8000,7000,2300,35000,21000,43700,36100,40000
2017-12-20,10500,60000,28000,36000,25000,120000,14000,12500,15000,12000,...,3500,0,8000,7000,2300,35000,21000,43700,36100,40000
2017-12-21,10500,60000,28000,36000,25000,120000,14000,12500,15000,12000,...,3500,12000,8000,7000,2300,35000,21000,43700,36100,40000
2017-12-22,10500,60000,28000,36000,25000,0,14000,12500,15000,12000,...,3500,12000,8000,7000,2300,35000,21000,43700,36100,40000
2017-12-23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-12-24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-12-25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-12-26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-12-27,10500,60000,28000,36000,26000,120000,14000,12500,15000,12000,...,3500,0,8000,7000,2300,35000,21000,43700,36100,40000
2017-12-28,10500,60000,28000,36000,26000,0,14000,12500,16000,12000,...,3500,12000,8000,7000,2300,40000,21000,43700,36100,40000
2017-12-29,10500,60000,28000,36000,26000,120000,14000,12500,16000,12000,...,3500,0,8000,7000,2300,40000,21000,43700,36100,40000
2017-12-30,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-12-31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [64]:
frames = [dfSederhanaJan, dfSederhanaFeb, dfSederhanaMar, dfSederhanaApr, dfSederhanaMei, dfSederhanaJun, dfSederhanaJul, dfSederhanaAgt, dfSederhanaSep, dfSederhanaOkt, dfSederhanaNov, dfSederhanaDes]
result = pd.concat(frames)
result

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
nama_komoditas,Beras Medium,Cabe Merah,Bawang Merah,Daging Ayam Ras,Telur Ayam Ras,Daging Sapi,Minyak Goreng,Gula Pasir,Kentang,Kedelai,...,Garam Beryodium Bata,Garam Beryodium Halus,Tepung Terigu Cakra Kembar,Tepung Terigu Kunci,Mie Instan,Cabe Rawit Hijau,Kacang Hijau,Susu Bubuk Dancow,Susu Bubuk Indomilk,Ikan Kembung
2017-01-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-01-02,10000,50000,35000,35000,23500,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,80000,24000,41200,36500,30000
2017-01-03,10000,50000,35000,34500,22250,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,90000,24000,41200,36500,30000
2017-01-04,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,100000,24000,41200,36500,30000
2017-01-05,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,100000,24000,41200,36500,30000
2017-01-06,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,100000,24000,41200,36500,30000
2017-01-07,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-01-08,5000,25000,0,17000,10500,60000,7250,7500,7500,6000,...,0,3000,4250,3750,0,50000,12000,20600,18250,15000
2017-01-09,10000,50000,35000,34000,21000,120000,14500,15000,15000,31000,...,1500,6000,8500,7500,2200,100000,24000,41200,36500,30000
2017-01-10,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,100000,24000,41200,36500,30000
2017-01-11,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,100000,24000,41200,36500,30000
2017-01-12,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,100000,24000,41200,36500,30000
2017-01-13,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,75000,24000,41200,36500,30000
2017-01-14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-01-15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-01-16,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,75000,24000,41200,36500,30000
2017-01-17,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,75000,24000,41200,36500,30000
2017-01-18,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,75000,24000,41200,36500,30000
2017-01-19,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,75000,24000,41200,36500,30000
2017-01-20,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,75000,24000,41200,36500,30000
2017-01-21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-01-22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-01-23,10000,45000,32500,34000,19500,120000,14250,14000,15500,12000,...,1250,6000,8250,16750,2350,77500,22500,39750,35725,32500
2017-01-24,10000,40000,30000,33000,19500,120000,14000,13000,16000,11000,...,1000,6000,8000,26000,2500,80000,21000,38300,34950,35000
2017-01-25,10000,40000,28000,30000,19500,120000,14000,13000,15000,11000,...,1000,6000,8000,26000,2500,80000,21000,38300,34950,35000
2017-01-26,10000,40000,30000,30000,19500,120000,14000,13000,15000,11000,...,1000,6000,8000,26000,2500,40000,21000,38300,34950,35000
2017-01-27,10000,40000,30000,30000,19500,120000,14000,13000,15000,11000,...,1000,6000,8000,26000,2500,90000,21000,38300,34950,35000
2017-01-28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-01-29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-12-03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-12-04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-12-05,10500,55000,28000,33000,24000,120000,14000,12500,16000,12000,...,3500,12000,8000,7000,2300,24000,21000,43700,36100,40000
2017-12-06,10500,55000,28000,33000,24000,120000,14000,12500,0,12000,...,3500,12000,8000,7000,2300,24000,21000,43700,36100,40000
2017-12-07,10500,55000,28000,33000,24000,120000,14000,12500,16000,12000,...,3500,12000,8000,7000,2300,24000,21000,43700,36100,40000
2017-12-08,10000,55000,28000,33000,24000,120000,14000,12500,16000,12000,...,3500,12000,8000,7000,2300,24000,21000,43700,36100,40000
2017-12-09,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-12-10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-12-11,12836,44026,32008,32868,21217,112019,14365,13457,13937,12277,...,1537,6116,8350,7895,2204,38153,22381,39682,35407,31401
2017-12-12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-12-13,10500,60000,28000,35000,25000,0,14000,12500,15000,12000,...,3500,12000,8000,7000,2300,25000,21000,43700,36100,40000
2017-12-14,10500,60000,28000,35000,25000,0,14000,12500,15000,12000,...,3500,12000,8000,7000,2300,25000,21000,43700,36100,40000
2017-12-15,10500,60000,28000,35000,25000,0,14000,12500,15000,12000,...,3500,12000,8000,7000,2300,25000,21000,43700,36100,40000
2017-12-16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-12-17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-12-18,10500,60000,28000,36000,25000,0,14000,12500,15000,12000,...,3500,12000,8000,7000,2300,35000,21000,43700,36100,40000
2017-12-19,10500,60000,28000,36000,25000,120000,14000,12500,15000,12000,...,3500,0,8000,7000,2300,35000,21000,43700,36100,40000
2017-12-20,10500,60000,28000,36000,25000,120000,14000,12500,15000,12000,...,3500,0,8000,7000,2300,35000,21000,43700,36100,40000
2017-12-21,10500,60000,28000,36000,25000,120000,14000,12500,15000,12000,...,3500,12000,8000,7000,2300,35000,21000,43700,36100,40000
2017-12-22,10500,60000,28000,36000,25000,0,14000,12500,15000,12000,...,3500,12000,8000,7000,2300,35000,21000,43700,36100,40000
2017-12-23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-12-24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-12-25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-12-26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-12-27,10500,60000,28000,36000,26000,120000,14000,12500,15000,12000,...,3500,0,8000,7000,2300,35000,21000,43700,36100,40000
2017-12-28,10500,60000,28000,36000,26000,0,14000,12500,16000,12000,...,3500,12000,8000,7000,2300,40000,21000,43700,36100,40000
2017-12-29,10500,60000,28000,36000,26000,120000,14000,12500,16000,12000,...,3500,0,8000,7000,2300,40000,21000,43700,36100,40000
2017-12-30,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-12-31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Menangani Beberapa Baris yang Berisikan Nilai 0 Seluruhnya

Terdapat beberapa baris yang isinya merupakan 0, maka akan dihilangkan.

In [65]:
# Transposekan terlebih dahulu, lalu filter
result = result[(result.T != 0).any()]
# Tampilkan
result

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
nama_komoditas,Beras Medium,Cabe Merah,Bawang Merah,Daging Ayam Ras,Telur Ayam Ras,Daging Sapi,Minyak Goreng,Gula Pasir,Kentang,Kedelai,...,Garam Beryodium Bata,Garam Beryodium Halus,Tepung Terigu Cakra Kembar,Tepung Terigu Kunci,Mie Instan,Cabe Rawit Hijau,Kacang Hijau,Susu Bubuk Dancow,Susu Bubuk Indomilk,Ikan Kembung
2017-01-02,10000,50000,35000,35000,23500,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,80000,24000,41200,36500,30000
2017-01-03,10000,50000,35000,34500,22250,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,90000,24000,41200,36500,30000
2017-01-04,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,100000,24000,41200,36500,30000
2017-01-05,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,100000,24000,41200,36500,30000
2017-01-06,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,100000,24000,41200,36500,30000
2017-01-08,5000,25000,0,17000,10500,60000,7250,7500,7500,6000,...,0,3000,4250,3750,0,50000,12000,20600,18250,15000
2017-01-09,10000,50000,35000,34000,21000,120000,14500,15000,15000,31000,...,1500,6000,8500,7500,2200,100000,24000,41200,36500,30000
2017-01-10,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,100000,24000,41200,36500,30000
2017-01-11,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,100000,24000,41200,36500,30000
2017-01-12,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,100000,24000,41200,36500,30000
2017-01-13,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,75000,24000,41200,36500,30000
2017-01-16,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,75000,24000,41200,36500,30000
2017-01-17,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,75000,24000,41200,36500,30000
2017-01-18,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,75000,24000,41200,36500,30000
2017-01-19,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,75000,24000,41200,36500,30000
2017-01-20,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,75000,24000,41200,36500,30000
2017-01-23,10000,45000,32500,34000,19500,120000,14250,14000,15500,12000,...,1250,6000,8250,16750,2350,77500,22500,39750,35725,32500
2017-01-24,10000,40000,30000,33000,19500,120000,14000,13000,16000,11000,...,1000,6000,8000,26000,2500,80000,21000,38300,34950,35000
2017-01-25,10000,40000,28000,30000,19500,120000,14000,13000,15000,11000,...,1000,6000,8000,26000,2500,80000,21000,38300,34950,35000
2017-01-26,10000,40000,30000,30000,19500,120000,14000,13000,15000,11000,...,1000,6000,8000,26000,2500,40000,21000,38300,34950,35000
2017-01-27,10000,40000,30000,30000,19500,120000,14000,13000,15000,11000,...,1000,6000,8000,26000,2500,90000,21000,38300,34950,35000
2017-01-30,10500,50000,30000,30000,19000,120000,14000,13000,15000,10000,...,1000,6000,8000,26000,2500,85000,21000,38300,34950,35000
2017-01-31,10000,50000,30000,30000,19000,120000,14000,13000,15000,10000,...,1000,6000,8000,26000,2500,85000,21000,38300,34950,35000
2017-02-01,10000,50000,30000,30000,19000,120000,14000,13000,15000,10000,...,1000,6000,8000,26000,2500,85000,21000,38300,34950,35000
2017-02-02,10000,50000,30000,30000,19000,120000,14000,13000,15000,10000,...,1000,6000,8000,26000,2500,85000,21000,38300,34950,35000
2017-02-03,10000,50000,35000,30000,19500,120000,14000,15000,15000,10000,...,1000,6000,8000,7500,2500,85000,21000,38300,34950,30000
2017-02-06,11000,60000,32000,30000,19000,120000,14000,14000,16000,10000,...,1000,6000,8000,7500,2200,100000,21000,38300,34950,34000
2017-02-07,32000,60000,32000,30000,19000,120000,14000,14000,7000,12000,...,1000,6000,8000,26000,2200,100000,21000,38300,34950,34000
2017-02-08,11000,60000,32000,33000,19000,120000,14500,14000,16000,12000,...,1500,6000,8000,26000,2500,100000,21000,41200,36500,34000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-11-09,10000,40000,24000,31000,21000,115000,15000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-11-10,10000,40000,24000,31000,21000,115000,15000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-11-13,10000,50000,24000,31000,21000,115000,15000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-11-14,10000,50000,24000,31000,21000,115000,15000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-11-15,10000,50000,24000,31000,21000,115000,15000,13500,16000,12000,...,2500,0,8000,7000,2500,24000,24000,41200,36500,30000
2017-11-16,10000,50000,24000,31000,21000,115000,15000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-11-17,10000,50000,24000,31000,21000,115000,15000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-11-20,10000,55000,28000,33000,33000,120000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,25000,23000,41200,36500,34000
2017-11-21,10000,55000,28000,33000,33000,120000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,25000,23000,41200,36500,34000
2017-11-22,10000,55000,28000,33000,33000,120000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,25000,23000,41200,36500,34000
2017-11-24,10000,55000,28000,33000,22000,120000,14000,13500,15000,12000,...,2500,0,8000,7000,2500,25000,23000,41200,36500,34000
2017-11-27,10000,55000,28000,33000,22000,120000,14000,13500,15000,12000,...,2500,12000,8000,7000,2500,25000,32000,41200,36500,34000
2017-11-29,10000,55000,28000,33000,24000,120000,14000,13500,15000,12000,...,2500,12000,8000,7000,2500,25000,3000,41200,36500,40000
2017-11-30,10000,55000,28000,33000,0,120000,14000,13500,15000,12000,...,2500,12000,8000,7000,2500,25000,3000,41200,36500,40000
2017-12-05,10500,55000,28000,33000,24000,120000,14000,12500,16000,12000,...,3500,12000,8000,7000,2300,24000,21000,43700,36100,40000
2017-12-06,10500,55000,28000,33000,24000,120000,14000,12500,0,12000,...,3500,12000,8000,7000,2300,24000,21000,43700,36100,40000
2017-12-07,10500,55000,28000,33000,24000,120000,14000,12500,16000,12000,...,3500,12000,8000,7000,2300,24000,21000,43700,36100,40000
2017-12-08,10000,55000,28000,33000,24000,120000,14000,12500,16000,12000,...,3500,12000,8000,7000,2300,24000,21000,43700,36100,40000
2017-12-11,12836,44026,32008,32868,21217,112019,14365,13457,13937,12277,...,1537,6116,8350,7895,2204,38153,22381,39682,35407,31401
2017-12-13,10500,60000,28000,35000,25000,0,14000,12500,15000,12000,...,3500,12000,8000,7000,2300,25000,21000,43700,36100,40000
2017-12-14,10500,60000,28000,35000,25000,0,14000,12500,15000,12000,...,3500,12000,8000,7000,2300,25000,21000,43700,36100,40000
2017-12-15,10500,60000,28000,35000,25000,0,14000,12500,15000,12000,...,3500,12000,8000,7000,2300,25000,21000,43700,36100,40000
2017-12-18,10500,60000,28000,36000,25000,0,14000,12500,15000,12000,...,3500,12000,8000,7000,2300,35000,21000,43700,36100,40000
2017-12-19,10500,60000,28000,36000,25000,120000,14000,12500,15000,12000,...,3500,0,8000,7000,2300,35000,21000,43700,36100,40000
2017-12-20,10500,60000,28000,36000,25000,120000,14000,12500,15000,12000,...,3500,0,8000,7000,2300,35000,21000,43700,36100,40000
2017-12-21,10500,60000,28000,36000,25000,120000,14000,12500,15000,12000,...,3500,12000,8000,7000,2300,35000,21000,43700,36100,40000
2017-12-22,10500,60000,28000,36000,25000,0,14000,12500,15000,12000,...,3500,12000,8000,7000,2300,35000,21000,43700,36100,40000
2017-12-27,10500,60000,28000,36000,26000,120000,14000,12500,15000,12000,...,3500,0,8000,7000,2300,35000,21000,43700,36100,40000
2017-12-28,10500,60000,28000,36000,26000,0,14000,12500,16000,12000,...,3500,12000,8000,7000,2300,40000,21000,43700,36100,40000
2017-12-29,10500,60000,28000,36000,26000,120000,14000,12500,16000,12000,...,3500,0,8000,7000,2300,40000,21000,43700,36100,40000

In [106]:
means = result.copy()
means = means.T
means = means.infer_objects().fillna(0.0)
means['rata-rata'] = means.mean(numeric_only=True, axis=1)
means.T

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
nama_komoditas,Beras Medium,Cabe Merah,Bawang Merah,Daging Ayam Ras,Telur Ayam Ras,Daging Sapi,Minyak Goreng,Gula Pasir,Kentang,Kedelai,...,Garam Beryodium Bata,Garam Beryodium Halus,Tepung Terigu Cakra Kembar,Tepung Terigu Kunci,Mie Instan,Cabe Rawit Hijau,Kacang Hijau,Susu Bubuk Dancow,Susu Bubuk Indomilk,Ikan Kembung
2017-01-02,10000,50000,35000,35000,23500,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,80000,24000,41200,36500,30000
2017-01-03,10000,50000,35000,34500,22250,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,90000,24000,41200,36500,30000
2017-01-04,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,100000,24000,41200,36500,30000
2017-01-05,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,100000,24000,41200,36500,30000
2017-01-06,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,100000,24000,41200,36500,30000
2017-01-08,5000,25000,0,17000,10500,60000,7250,7500,7500,6000,...,0,3000,4250,3750,0,50000,12000,20600,18250,15000
2017-01-09,10000,50000,35000,34000,21000,120000,14500,15000,15000,31000,...,1500,6000,8500,7500,2200,100000,24000,41200,36500,30000
2017-01-10,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,100000,24000,41200,36500,30000
2017-01-11,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,100000,24000,41200,36500,30000
2017-01-12,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,100000,24000,41200,36500,30000
2017-01-13,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,75000,24000,41200,36500,30000
2017-01-16,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,75000,24000,41200,36500,30000
2017-01-17,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,75000,24000,41200,36500,30000
2017-01-18,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,75000,24000,41200,36500,30000
2017-01-19,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,75000,24000,41200,36500,30000
2017-01-20,10000,50000,35000,34000,21000,120000,14500,15000,15000,12000,...,1500,6000,8500,7500,2200,75000,24000,41200,36500,30000
2017-01-23,10000,45000,32500,34000,19500,120000,14250,14000,15500,12000,...,1250,6000,8250,16750,2350,77500,22500,39750,35725,32500
2017-01-24,10000,40000,30000,33000,19500,120000,14000,13000,16000,11000,...,1000,6000,8000,26000,2500,80000,21000,38300,34950,35000
2017-01-25,10000,40000,28000,30000,19500,120000,14000,13000,15000,11000,...,1000,6000,8000,26000,2500,80000,21000,38300,34950,35000
2017-01-26,10000,40000,30000,30000,19500,120000,14000,13000,15000,11000,...,1000,6000,8000,26000,2500,40000,21000,38300,34950,35000
2017-01-27,10000,40000,30000,30000,19500,120000,14000,13000,15000,11000,...,1000,6000,8000,26000,2500,90000,21000,38300,34950,35000
2017-01-30,10500,50000,30000,30000,19000,120000,14000,13000,15000,10000,...,1000,6000,8000,26000,2500,85000,21000,38300,34950,35000
2017-01-31,10000,50000,30000,30000,19000,120000,14000,13000,15000,10000,...,1000,6000,8000,26000,2500,85000,21000,38300,34950,35000
2017-02-01,10000,50000,30000,30000,19000,120000,14000,13000,15000,10000,...,1000,6000,8000,26000,2500,85000,21000,38300,34950,35000
2017-02-02,10000,50000,30000,30000,19000,120000,14000,13000,15000,10000,...,1000,6000,8000,26000,2500,85000,21000,38300,34950,35000
2017-02-03,10000,50000,35000,30000,19500,120000,14000,15000,15000,10000,...,1000,6000,8000,7500,2500,85000,21000,38300,34950,30000
2017-02-06,11000,60000,32000,30000,19000,120000,14000,14000,16000,10000,...,1000,6000,8000,7500,2200,100000,21000,38300,34950,34000
2017-02-07,32000,60000,32000,30000,19000,120000,14000,14000,7000,12000,...,1000,6000,8000,26000,2200,100000,21000,38300,34950,34000
2017-02-08,11000,60000,32000,33000,19000,120000,14500,14000,16000,12000,...,1500,6000,8000,26000,2500,100000,21000,41200,36500,34000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-11-10,10000,40000,24000,31000,21000,115000,15000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-11-13,10000,50000,24000,31000,21000,115000,15000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-11-14,10000,50000,24000,31000,21000,115000,15000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-11-15,10000,50000,24000,31000,21000,115000,15000,13500,16000,12000,...,2500,0,8000,7000,2500,24000,24000,41200,36500,30000
2017-11-16,10000,50000,24000,31000,21000,115000,15000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-11-17,10000,50000,24000,31000,21000,115000,15000,13500,0,12000,...,2500,12000,8000,7000,2500,24000,24000,41200,36500,30000
2017-11-20,10000,55000,28000,33000,33000,120000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,25000,23000,41200,36500,34000
2017-11-21,10000,55000,28000,33000,33000,120000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,25000,23000,41200,36500,34000
2017-11-22,10000,55000,28000,33000,33000,120000,14000,13500,0,12000,...,2500,12000,8000,7000,2500,25000,23000,41200,36500,34000
2017-11-24,10000,55000,28000,33000,22000,120000,14000,13500,15000,12000,...,2500,0,8000,7000,2500,25000,23000,41200,36500,34000
2017-11-27,10000,55000,28000,33000,22000,120000,14000,13500,15000,12000,...,2500,12000,8000,7000,2500,25000,32000,41200,36500,34000
2017-11-29,10000,55000,28000,33000,24000,120000,14000,13500,15000,12000,...,2500,12000,8000,7000,2500,25000,3000,41200,36500,40000
2017-11-30,10000,55000,28000,33000,0,120000,14000,13500,15000,12000,...,2500,12000,8000,7000,2500,25000,3000,41200,36500,40000
2017-12-05,10500,55000,28000,33000,24000,120000,14000,12500,16000,12000,...,3500,12000,8000,7000,2300,24000,21000,43700,36100,40000
2017-12-06,10500,55000,28000,33000,24000,120000,14000,12500,0,12000,...,3500,12000,8000,7000,2300,24000,21000,43700,36100,40000
2017-12-07,10500,55000,28000,33000,24000,120000,14000,12500,16000,12000,...,3500,12000,8000,7000,2300,24000,21000,43700,36100,40000
2017-12-08,10000,55000,28000,33000,24000,120000,14000,12500,16000,12000,...,3500,12000,8000,7000,2300,24000,21000,43700,36100,40000
2017-12-11,12836,44026,32008,32868,21217,112019,14365,13457,13937,12277,...,1537,6116,8350,7895,2204,38153,22381,39682,35407,31401
2017-12-13,10500,60000,28000,35000,25000,0,14000,12500,15000,12000,...,3500,12000,8000,7000,2300,25000,21000,43700,36100,40000
2017-12-14,10500,60000,28000,35000,25000,0,14000,12500,15000,12000,...,3500,12000,8000,7000,2300,25000,21000,43700,36100,40000
2017-12-15,10500,60000,28000,35000,25000,0,14000,12500,15000,12000,...,3500,12000,8000,7000,2300,25000,21000,43700,36100,40000
2017-12-18,10500,60000,28000,36000,25000,0,14000,12500,15000,12000,...,3500,12000,8000,7000,2300,35000,21000,43700,36100,40000
2017-12-19,10500,60000,28000,36000,25000,120000,14000,12500,15000,12000,...,3500,0,8000,7000,2300,35000,21000,43700,36100,40000
2017-12-20,10500,60000,28000,36000,25000,120000,14000,12500,15000,12000,...,3500,0,8000,7000,2300,35000,21000,43700,36100,40000
2017-12-21,10500,60000,28000,36000,25000,120000,14000,12500,15000,12000,...,3500,12000,8000,7000,2300,35000,21000,43700,36100,40000
2017-12-22,10500,60000,28000,36000,25000,0,14000,12500,15000,12000,...,3500,12000,8000,7000,2300,35000,21000,43700,36100,40000
2017-12-27,10500,60000,28000,36000,26000,120000,14000,12500,15000,12000,...,3500,0,8000,7000,2300,35000,21000,43700,36100,40000
2017-12-28,10500,60000,28000,36000,26000,0,14000,12500,16000,12000,...,3500,12000,8000,7000,2300,40000,21000,43700,36100,40000
2017-12-29,10500,60000,28000,36000,26000,120000,14000,12500,16000,12000,...,3500,0,8000,7000,2300,40000,21000,43700,36100,40000
rata-rata,11392.4,45313.8,32163.7,32469.9,21002.1,113800,13832,14129.4,10913.4,12896.7,...,1972.9,7091.44,8094.77,9723.39,2495.25,46439.3,22929,41090.1,35763.3,31764.1

In [88]:
result.to_csv('~/Downloads/DataFrame.csv')